@font-face {
  font-family: "Hero";
  src: url("~@/assets/font/Hero-Regular.ttf")
}

@font-face {
  font-family: "Hero";
  src: url("~@/assets/font/Hero-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Hero";
  src: url("~@/assets/font/Hero-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Hero";
  src: url("~@/assets/font/Hero-Light.ttf");
  font-weight: 300;
}